@media screen and (min-width:580px)
{
.blog-blur-1
{
  background: rgba(229, 7, 245, 0.69);
  /* position: absolute;  */
  border-radius: 50%;
  filter: blur(130px);
  z-index: -10;
  width: 20rem;
  height: 20rem;
  top: 10%;
  right:80%;
}
.blog-blur-2
{
  background: rgba(97, 10, 248, 0.69);

  /* position: absolute;  */
  border-radius: 50%;
  filter: blur(130px);
  z-index: -10;
  width: 20rem;
  height: 20rem;
  top: 50%;
  right: 80%;
}
} 





